/* Thiết lập CSS chung cho toàn bộ thẻ h1, h2, h3, h4 */
h1, h2, h3, h4 {
    font-size: 24px;
    /*Viền chữ màu đen*/
    -webkit-text-stroke: 1px black; 
}

/*Div Giới thiệu bản thân */
#gioi-thieu {
    background-color: #F3FDE8;
    padding: 20px;
    margin-bottom: 20px;
}

/*Div Gửi thông tin (Background ảnh lặp lại và căn giữa) */
#lien-he {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS91JHSgVUY5j42A1SFauhzhhH_kdVtZw_DTkcrOyjt-A&s=10);
    background-repeat: repeat;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

/* Thêm viền cho bảng mục tiêu */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black; /* Viền 1px màu đen */
}

th, td {
    padding: 8px;
    text-align: left;
}

/*Thẻ nav (Menu) và footer */
nav, footer {
    background-color: #d4f2f4;
    color: #0b0848;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

nav a {
    color: #0b0848;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}